---
const pageTitle = "About me";

const identity = {
  firstName: "Antonio",
  country: "Spain",
  occupation: "Student",
  hobbies: ["photography", "birdwatching", "baseball"],
};

const skills = ["HTML", "CSS", "JavaScript", "React", "Astro", "Writing Docs"];
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{pageTitle}</title>
</head>
<body>
    <a href="/">Home</a>
    <a href="/about/">About</a>
    <a href="/blog/">Blog</a>

    <h1>{pageTitle}</h1>
    <h2>... and my new Astro site!</h2>

    <li>My name is {identity.firstName}</li>
    <li>I live in {identity.country} and I work as a {identity.occupation}.</li>
    {
      identity.hobbies.length>=2 &&
        <li>Two of my hobbies are: {identity.hobbies[0]} and {identity.hobbies[1]}</li>
    }

    <h2>My skilss are: </h2>
    <ul>
      {skills.map((skill)=><li>{skill}</li>)}
    </ul>
</body>
</html>